Project Development Phase/Sprint-2/flow_sprint2.json
[{"id":"22b83496affc4c91","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2c984f6963d5185c","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT","applicationId":"","deviceType":"Sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["3834add984d23254","5a91ffe6677e86a0","e1cd7e91b94c4cc1"]]},{"id":"3834add984d23254","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"5a91ffe6677e86a0","type":"function","z":"22b83496affc4c91","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set('T',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[["2c98ff093499e14e"]]},{"id":"e1cd7e91b94c4cc1","type":"function","z":"22b83496affc4c91","name":"humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('H',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["57105a3bc9a98bf4"]]},{"id":"2c98ff093499e14e","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"50","colors":["#0abd0a","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":280,"wires":[]},{"id":"57105a3bc9a98bf4","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":360,"wires":[]},{"id":"2931e487be62e528","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":2,"width":0,"height":0,"passthru":true,"label":"Waterpumpon","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Waterpump_on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":520,"wires":[["38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"38d2cf7bc1831bb2","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"0546459205177b8a","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"Water_pump","deviceType":"Actuator","eventCommandType":"command","format":"json","data":"1","qos":"0","name":"IBM IoT","service":"registered","x":540,"y":520,"wires":[]},{"id":"8ab4682a79a1ab26","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":3,"width":0,"height":0,"passthru":false,"label":"WaterpumpOFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Waterpump_OFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":600,"wires":[["38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"2d18d85595e2cb24","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["48fd622291f0b227"]]},{"id":"5d8425fd5daf2548","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":530,"y":440,"wires":[]},{"id":"48fd622291f0b227","type":"function","z":"22b83496affc4c91","name":"sensor","func":"msg.payload={\"Temperature\":global.get('T'),\"Humidity\":global.get('H')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":440,"wires":[["5d8425fd5daf2548"]]},{"id":"60be063645987246","type":"http in","z":"22b83496affc4c91","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":210,"y":720,"wires":[["0a647ff8cddfe846","38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"0a647ff8cddfe846","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":720,"wires":[]},{"id":"b953520722a0f97e","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":820,"wires":[]},{"id":"32fdc86b80d13e60","type":"function","z":"22b83496affc4c91","name":"soil_moisture","func":"msg.payload =msg.payload.Soil_moisture\nglobal.set('S', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":920,"wires":[["6766d33b0bdf2a69"]]},{"id":"55b0c4e36a3484e6","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Soil_moisture","applicationId":"","deviceType":"Sensor1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":820,"wires":[["b953520722a0f97e","32fdc86b80d13e60"]]},{"id":"b0afb8f5a0aaaf15","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1000,"wires":[["8d034b27e6376df7"]]},{"id":"8d034b27e6376df7","type":"function","z":"22b83496affc4c91","name":"sensor1","func":"msg.payload = { \"Soil_moisture\": global.get('S')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1000,"wires":[["9baf48750c362b31"]]},{"id":"6766d33b0bdf2a69","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":4,"width":0,"height":0,"gtype":"wave","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":640,"y":920,"wires":[]},{"id":"4cae8ac666ab92e3","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Ultrasonic","applicationId":"","deviceType":"Sensor3","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":1140,"wires":[["6bf6c7ed13bd4781"]]},{"id":"6bf6c7ed13bd4781","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1140,"wires":[]},{"id":"9f38f822f6649201","type":"http in","z":"22b83496affc4c91","name":"","url":"/Ultrasonic","method":"get","upload":false,"swaggerDoc":"","x":340,"y":1220,"wires":[["6bf6c7ed13bd4781","f917666d4eabd992"]]},{"id":"f917666d4eabd992","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":590,"y":1220,"wires":[]},{"id":"e6eeebd30a2d262d","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"PIR","applicationId":"","deviceType":"Sensor2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":1300,"wires":[["19b5191af3225332","3248cb9406e14bcc"]]},{"id":"f02365d5c2590448","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1300,"wires":[]},{"id":"c91ba90a50495bce","type":"http in","z":"22b83496affc4c91","name":"","url":"/pir","method":"get","upload":true,"swaggerDoc":"","x":300,"y":1420,"wires":[["4371cffe653dfd3b"]]},{"id":"5d1e462abf6f3ca4","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":690,"y":1420,"wires":[]},{"id":"91c33f63c2fa1353","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Camera","applicationId":"","deviceType":"Detector","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":1680,"wires":[["769629f685f664c4","ce45adc8028d286f"]]},{"id":"769629f685f664c4","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1680,"wires":[]},{"id":"ee76e7f1f8605348","type":"http in","z":"22b83496affc4c91","name":"","url":"/animaldetection","method":"get","upload":true,"swaggerDoc":"","x":260,"y":1820,"wires":[["c78767a15911debe"]]},{"id":"77f55f9ee93e136a","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":20,"width":0,"height":0,"passthru":true,"label":"LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command1\":\"LEDlight_on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":460,"y":1480,"wires":[["22f2e0b6f3d75dc6","694b3f5beb155969"]]},{"id":"22f2e0b6f3d75dc6","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1540,"wires":[]},{"id":"694b3f5beb155969","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"LED","deviceType":"Output","eventCommandType":"onoff","format":"json","data":"1","qos":"2","name":"IBM IoT","service":"registered","x":660,"y":1600,"wires":[]},{"id":"1c4fc0cc1dcea28e","type":"http in","z":"22b83496affc4c91","name":"","url":"/ledcontrol","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1540,"wires":[["44859544e63913b8","22f2e0b6f3d75dc6"]]},{"id":"44859544e63913b8","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":490,"y":1600,"wires":[]},{"id":"19b5191af3225332","type":"function","z":"22b83496affc4c91","name":"pir","func":"msg.payload=msg.payload.PIR_output\nglobal.set('PIR',msg.payload)\nmsg.payload={'motion_detected':msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1300,"wires":[["f02365d5c2590448","9296c38d5303bb77"]]},{"id":"3248cb9406e14bcc","type":"function","z":"22b83496affc4c91","name":"ledcontrol","func":"var LED=1\nmsg.payload=msg.payload.PIR_output\nLED=msg.payload\nif(LED===1)\n    msg.payload={\"command1\":\"LEDlight_on\"}\nelse\n    msg.payload={\"command1\":\"LEDlight_off\"}\nLED=0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1480,"wires":[["77f55f9ee93e136a"]]},{"id":"9baf48750c362b31","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":650,"y":1000,"wires":[]},{"id":"f263d37a81df1221","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":710,"y":1820,"wires":[]},{"id":"f93e076f5832e418","type":"function","z":"22b83496affc4c91","name":"Animal detection","func":"msg.payload =msg.payload.Intruded_Animal\nglobal.set('Animal', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1760,"wires":[["5982582b226775db"]]},{"id":"5982582b226775db","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1760,"wires":[]},{"id":"c78767a15911debe","type":"function","z":"22b83496affc4c91","name":"","func":"\nmsg.payload= { \"Intruded_Animal\":global.get('Animal')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1820,"wires":[["f263d37a81df1221"]]},{"id":"ce45adc8028d286f","type":"string","z":"22b83496affc4c91","name":"","methods":[],"prop":"string","propout":"string","object":"str","objectout":"msg","x":330,"y":1760,"wires":[["f93e076f5832e418"]]},{"id":"4371cffe653dfd3b","type":"function","z":"22b83496affc4c91","name":"","func":"msg.payload = { \"PIR_Sensor\": global.get('PIR')}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1420,"wires":[["5d1e462abf6f3ca4"]]},{"id":"e6c1e98e1cedcc09","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":22,"width":0,"height":0,"gtype":"donut","title":"PIR","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":750,"y":1360,"wires":[]},{"id":"9296c38d5303bb77","type":"function","z":"22b83496affc4c91","name":"","func":"msg.payload=msg.payload.motion_detected\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1360,"wires":[["e6c1e98e1cedcc09"]]},{"id":"c9903af5e9f04bf8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ab440f477de87587","type":"ui_group","name":"Animal detection ","tab":"4eb261b38f5967bc","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"4eb261b38f5967bc","type":"ui_tab","name":"control","icon":"dashboard","disabled":false,"hidden":false}]