Final Deliverables/NodeRedFlow.json
[{"id":"22b83496affc4c91","type":"tab","label":"main flow","disabled":false,"info":"","env":[]},{"id":"2c984f6963d5185c","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT","applicationId":"","deviceType":"Sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["3834add984d23254","5a91ffe6677e86a0","e1cd7e91b94c4cc1"]]},{"id":"3834add984d23254","type":"debug","z":"22b83496affc4c91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"5a91ffe6677e86a0","type":"function","z":"22b83496affc4c91","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set('T',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["2c98ff093499e14e"]]},{"id":"e1cd7e91b94c4cc1","type":"function","z":"22b83496affc4c91","name":"humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('H',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["57105a3bc9a98bf4"]]},{"id":"2c98ff093499e14e","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"a1ea80b5ce9ba18d","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"50","colors":["#0abd0a","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":320,"wires":[]},{"id":"57105a3bc9a98bf4","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"a1ea80b5ce9ba18d","order":7,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":400,"wires":[]},{"id":"2931e487be62e528","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab8379c0e4756e1d","order":1,"width":0,"height":0,"passthru":true,"label":"Waterpumpon","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"ON\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":680,"wires":[["0546459205177b8a","f12772d8c1763ca1","ee15aebc739b53c6"]]},{"id":"38d2cf7bc1831bb2","type":"debug","z":"22b83496affc4c91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":840,"wires":[]},{"id":"0546459205177b8a","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"Water_pump","deviceType":"Actuator","eventCommandType":"command","format":"json","data":"1","qos":"0","name":"IBM IoT","service":"registered","x":600,"y":680,"wires":[]},{"id":"8ab4682a79a1ab26","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab8379c0e4756e1d","order":2,"width":0,"height":0,"passthru":false,"label":"WaterpumpOFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"OFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":780,"wires":[["0546459205177b8a","f12772d8c1763ca1","ee15aebc739b53c6"]]},{"id":"2d18d85595e2cb24","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2280,"wires":[["48fd622291f0b227"]]},{"id":"5d8425fd5daf2548","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2280,"wires":[]},{"id":"48fd622291f0b227","type":"function","z":"22b83496affc4c91","name":"sensor","func":"msg.payload={\"Temperature\":global.get('T'),\"Humidity\":global.get('H')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2280,"wires":[["5d8425fd5daf2548"]]},{"id":"60be063645987246","type":"http in","z":"22b83496affc4c91","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":250,"y":920,"wires":[["0a647ff8cddfe846","38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"0a647ff8cddfe846","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":550,"y":900,"wires":[]},{"id":"b953520722a0f97e","type":"debug","z":"22b83496affc4c91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":480,"wires":[]},{"id":"32fdc86b80d13e60","type":"function","z":"22b83496affc4c91","name":"soil_moisture","func":"msg.payload =msg.payload.Soil_moisture\nglobal.set('S', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":540,"wires":[["6766d33b0bdf2a69","7c0ed0634df55a66"]]},{"id":"55b0c4e36a3484e6","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Soil_moisture","applicationId":"","deviceType":"Sensor1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":480,"wires":[["b953520722a0f97e","32fdc86b80d13e60"]]},{"id":"b0afb8f5a0aaaf15","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2340,"wires":[["8d034b27e6376df7"]]},{"id":"8d034b27e6376df7","type":"function","z":"22b83496affc4c91","name":"Soil moisture sensor","func":"msg.payload = { \"Soil_moisture\": global.get('S')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2340,"wires":[["9baf48750c362b31"]]},{"id":"6766d33b0bdf2a69","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab8379c0e4756e1d","order":4,"width":0,"height":0,"gtype":"wave","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":520,"y":560,"wires":[]},{"id":"4cae8ac666ab92e3","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Ultrasonic","applicationId":"","deviceType":"Sensor3","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":1040,"wires":[["6bf6c7ed13bd4781"]]},{"id":"6bf6c7ed13bd4781","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1040,"wires":[]},{"id":"9f38f822f6649201","type":"http in","z":"22b83496affc4c91","name":"","url":"/Ultrasonic","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1120,"wires":[["6bf6c7ed13bd4781","f917666d4eabd992"]]},{"id":"f917666d4eabd992","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":450,"y":1120,"wires":[]},{"id":"e6eeebd30a2d262d","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"PIR","applicationId":"","deviceType":"Sensor2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":1240,"wires":[["19b5191af3225332"]]},{"id":"f02365d5c2590448","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1200,"wires":[]},{"id":"c91ba90a50495bce","type":"http in","z":"22b83496affc4c91","name":"","url":"/pir","method":"get","upload":true,"swaggerDoc":"","x":180,"y":2400,"wires":[["4371cffe653dfd3b"]]},{"id":"5d1e462abf6f3ca4","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2400,"wires":[]},{"id":"91c33f63c2fa1353","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Camera","applicationId":"","deviceType":"Detector","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":1960,"wires":[["769629f685f664c4","ce45adc8028d286f"]]},{"id":"769629f685f664c4","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1960,"wires":[]},{"id":"ee76e7f1f8605348","type":"http in","z":"22b83496affc4c91","name":"","url":"/animaldetection","method":"get","upload":true,"swaggerDoc":"","x":220,"y":2520,"wires":[["c78767a15911debe"]]},{"id":"77f55f9ee93e136a","type":"ui_button","z":"22b83496affc4c91","name":"","group":"4bac7bb216cd73fb","order":2,"width":0,"height":0,"passthru":true,"label":"LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command1\":\"ON\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":1660,"wires":[["22f2e0b6f3d75dc6","3d696984845c9967","3292a7afe93ea4a7"]]},{"id":"22f2e0b6f3d75dc6","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1660,"wires":[]},{"id":"694b3f5beb155969","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"LED","deviceType":"Output","eventCommandType":"onoff","format":"json","data":"1","qos":"2","name":"IBM IoT","service":"registered","x":680,"y":1800,"wires":[]},{"id":"19b5191af3225332","type":"function","z":"22b83496affc4c91","name":"pir","func":"msg.payload=msg.payload.PIR_output\nglobal.set('PIR',msg.payload)\nmsg.payload={'motion_detected':msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1240,"wires":[["f02365d5c2590448","9296c38d5303bb77","c2fd2220b95f8556","df1174044e9ba497"]]},{"id":"9baf48750c362b31","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2340,"wires":[]},{"id":"f263d37a81df1221","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2520,"wires":[]},{"id":"f93e076f5832e418","type":"function","z":"22b83496affc4c91","name":"Animal detection","func":"msg.payload =msg.payload.Intruded_Animal\nglobal.set('Classified_Animal', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2040,"wires":[["5982582b226775db","79b340695e321fe9"]]},{"id":"5982582b226775db","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":2000,"wires":[]},{"id":"c78767a15911debe","type":"function","z":"22b83496affc4c91","name":"Animaldetection","func":"\nmsg.payload= { \"Intruded_Animal\":global.get('Classified_Animal')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2520,"wires":[["f263d37a81df1221"]]},{"id":"ce45adc8028d286f","type":"string","z":"22b83496affc4c91","name":"","methods":[],"prop":"string","propout":"string","object":"str","objectout":"msg","x":250,"y":2040,"wires":[["f93e076f5832e418"]]},{"id":"4371cffe653dfd3b","type":"function","z":"22b83496affc4c91","name":"pirhttp","func":"msg.payload = { \"PIR_Sensor\": global.get('PIR')}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2400,"wires":[["5d1e462abf6f3ca4"]]},{"id":"e6c1e98e1cedcc09","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"4bac7bb216cd73fb","order":1,"width":0,"height":0,"gtype":"gage","title":"PIR","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":610,"y":1260,"wires":[]},{"id":"9296c38d5303bb77","type":"function","z":"22b83496affc4c91","name":"Display ","func":"msg.payload=msg.payload.motion_detected\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1260,"wires":[["e6c1e98e1cedcc09"]]},{"id":"cbd03f3b4a2601d5","type":"ui_button","z":"22b83496affc4c91","name":"","group":"4bac7bb216cd73fb","order":3,"width":0,"height":0,"passthru":false,"label":"LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command1\":\"OFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":1780,"wires":[["22f2e0b6f3d75dc6","3d696984845c9967","3292a7afe93ea4a7"]]},{"id":"c2fd2220b95f8556","type":"function","z":"22b83496affc4c91","name":"LED control ","func":"var LED=global.get('PIR')\nif(LED=='1')\n    msg.payload={\"command1\":\"ON\"}\nelse\n    msg.payload={\"command1\":\"OFF\"}\nLED=0\nglobal.set('LED_status',msg.payload.command1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1620,"wires":[["694b3f5beb155969","22f2e0b6f3d75dc6","3d696984845c9967"]]},{"id":"293fcfe73f6220c3","type":"http in","z":"22b83496affc4c91","name":"","url":"/Actuatorstatus","method":"get","upload":false,"swaggerDoc":"","x":210,"y":2580,"wires":[["e91291c1f7023f2f"]]},{"id":"516a88db3b1a1f32","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2580,"wires":[]},{"id":"e91291c1f7023f2f","type":"function","z":"22b83496affc4c91","name":"Actuatorstatus","func":"msg.payload={\"LED_status\":global.get('LED_status'),\"Speaker_status\":global.get('Speaker_status'),\"Waterpump_status\":global.get('Waterpump_status')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2580,"wires":[["516a88db3b1a1f32"]]},{"id":"d9994c02ed3aeffe","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"Speaker","deviceType":"Actuator","eventCommandType":"onoff","format":"json","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":1540,"wires":[]},{"id":"df1174044e9ba497","type":"function","z":"22b83496affc4c91","name":"SpeakerControl","func":"var SPEAKER=global.get('PIR')\nif(SPEAKER=='1')\n    msg.payload={\"command1\":\"ON\"}\nelse\n    msg.payload={\"command1\":\"OFF\"}\nSPEAKER=0\nglobal.set('Speaker_status',msg.payload.command1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1340,"wires":[["d206812ecfdee991","d9994c02ed3aeffe","9f2f25c006ef09ef"]]},{"id":"050b187107068454","type":"ui_button","z":"22b83496affc4c91","name":"","group":"4bac7bb216cd73fb","order":5,"width":0,"height":0,"passthru":false,"label":"SpeakerON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command1\":\"ON\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1400,"wires":[["d206812ecfdee991","d9994c02ed3aeffe","9f2f25c006ef09ef","3edae69379839151"]]},{"id":"8cdc388d4a2a0471","type":"ui_button","z":"22b83496affc4c91","name":"","group":"4bac7bb216cd73fb","order":6,"width":0,"height":0,"passthru":false,"label":"SpeakerOFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command1\":\"OFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":190,"y":1500,"wires":[["d206812ecfdee991","9f2f25c006ef09ef","3edae69379839151"]]},{"id":"d206812ecfdee991","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1400,"wires":[]},{"id":"7c0ed0634df55a66","type":"function","z":"22b83496affc4c91","name":"WaterpumpControl","func":"var Soil=msg.payload\nif (Soil<='20')\n    msg.payload={\"command\":\"ON\"}\nelse\n    msg.payload={\"command\":\"OFF\"}\nglobal.set('Waterpump_status',msg.payload.command)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":620,"wires":[["0546459205177b8a","38d2cf7bc1831bb2","f12772d8c1763ca1"]]},{"id":"f12772d8c1763ca1","type":"ui_text","z":"22b83496affc4c91","group":"ab8379c0e4756e1d","order":3,"width":0,"height":0,"name":"","label":"Waterpump_status","format":"{{msg.payload.command}}","layout":"row-spread","className":"","x":610,"y":760,"wires":[]},{"id":"9f2f25c006ef09ef","type":"ui_text","z":"22b83496affc4c91","group":"4bac7bb216cd73fb","order":7,"width":0,"height":0,"name":"","label":"Speaker_status","format":"{{msg.payload.command1}}","layout":"row-spread","className":"","x":660,"y":1480,"wires":[]},{"id":"3d696984845c9967","type":"ui_text","z":"22b83496affc4c91","group":"4bac7bb216cd73fb","order":4,"width":0,"height":0,"name":"","label":"LED_status","format":"{{msg.payload.command1}}","layout":"row-spread","className":"","x":650,"y":1720,"wires":[]},{"id":"79b340695e321fe9","type":"ui_text","z":"22b83496affc4c91","group":"ca45b313c8bd80de","order":2,"width":0,"height":0,"name":"","label":"Classified_Animal","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":2060,"wires":[]},{"id":"c8cb44d7aecff965","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Speaker","applicationId":"","deviceType":"Actuator","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":2100,"wires":[["330223f65db7127b"]]},{"id":"330223f65db7127b","type":"function","z":"22b83496affc4c91","name":"Threatened_Animal","func":"msg.payload =msg.payload.Threat\nglobal.set('Threat', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":2100,"wires":[["ff6dc2289c44c994","d2d42b4496e39618"]]},{"id":"ff6dc2289c44c994","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":2100,"wires":[]},{"id":"d2d42b4496e39618","type":"ui_text","z":"22b83496affc4c91","group":"ca45b313c8bd80de","order":2,"width":0,"height":0,"name":"","label":"Threat_Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":620,"y":2160,"wires":[]},{"id":"7383988a4de46407","type":"http in","z":"22b83496affc4c91","name":"","url":"/threatClassification","method":"get","upload":false,"swaggerDoc":"","x":230,"y":2460,"wires":[["a30c54c56c1741ab"]]},{"id":"e0b904f20413618c","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":2460,"wires":[]},{"id":"a30c54c56c1741ab","type":"function","z":"22b83496affc4c91","name":"","func":"msg.payload= { \"Threat\":global.get('Threat')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2460,"wires":[["e0b904f20413618c"]]},{"id":"3292a7afe93ea4a7","type":"function","z":"22b83496affc4c91","name":"LED control 2","func":"global.set('LED_status',msg.payload.command1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1800,"wires":[["694b3f5beb155969"]]},{"id":"3edae69379839151","type":"function","z":"22b83496affc4c91","name":"SpeakerControl2","func":"global.set('Speaker_status',msg.payload.command1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1540,"wires":[["d9994c02ed3aeffe"]]},{"id":"ee15aebc739b53c6","type":"function","z":"22b83496affc4c91","name":"WaterpumpControl","func":"global.set('Waterpump_status',msg.payload.command)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":820,"wires":[["38d2cf7bc1831bb2"]]},{"id":"93345de8b311f02b","type":"comment","z":"22b83496affc4c91","name":"Temperature and Humidity","info":"Temperature and Humidity","x":210,"y":220,"wires":[]},{"id":"ca7b59a26910ac20","type":"comment","z":"22b83496affc4c91","name":"Soil Moisture","info":"","x":170,"y":440,"wires":[]},{"id":"af90666f15b55a27","type":"comment","z":"22b83496affc4c91","name":"WaterpumpControl","info":"","x":190,"y":600,"wires":[]},{"id":"0e7391db055b686d","type":"comment","z":"22b83496affc4c91","name":"Ultrasonic Sensor","info":"","x":190,"y":980,"wires":[]},{"id":"0c0b2a29994c07b4","type":"comment","z":"22b83496affc4c91","name":"PIR sensor","info":"","x":160,"y":1180,"wires":[]},{"id":"3d85bb82ba87727a","type":"comment","z":"22b83496affc4c91","name":"HTTPS","info":"","x":170,"y":2240,"wires":[]},{"id":"3d4a4a7b9b2d7480","type":"comment","z":"22b83496affc4c91","name":"Animal detection and Classification ","info":"","x":260,"y":1920,"wires":[]},{"id":"78899b357ea40c55","type":"comment","z":"22b83496affc4c91","name":"LED control","info":"","x":170,"y":1580,"wires":[]},{"id":"3c9c1e9930b55b0c","type":"comment","z":"22b83496affc4c91","name":"SpeakerControl","info":"","x":180,"y":1320,"wires":[]},{"id":"c9903af5e9f04bf8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a1ea80b5ce9ba18d","type":"ui_group","name":"Weather monitoring ","tab":"210ad3f8fa29642e","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"ab8379c0e4756e1d","type":"ui_group","name":"Crop Irrigation Monitoring ","tab":"210ad3f8fa29642e","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"4bac7bb216cd73fb","type":"ui_group","name":"Animal Detection Monitoring ","tab":"210ad3f8fa29642e","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"ca45b313c8bd80de","type":"ui_group","name":"AnimalIntrusion","tab":"210ad3f8fa29642e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"210ad3f8fa29642e","type":"ui_tab","name":"IOT based Smart Crop Protection System_(Team ID : PNT2022TMID34928)","icon":"dashboard","order":1,"disabled":false,"hidden":false}]