Project Development Phase/Sprint-1/flows .json
[{"id":"22b83496affc4c91","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2c984f6963d5185c","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"DHT","applicationId":"","deviceType":"Sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["3834add984d23254","5a91ffe6677e86a0","e1cd7e91b94c4cc1"]]},{"id":"3834add984d23254","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"5a91ffe6677e86a0","type":"function","z":"22b83496affc4c91","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set('T',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[["2c98ff093499e14e"]]},{"id":"e1cd7e91b94c4cc1","type":"function","z":"22b83496affc4c91","name":"humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('H',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["57105a3bc9a98bf4"]]},{"id":"2c98ff093499e14e","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#0abd0a","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":280,"wires":[]},{"id":"57105a3bc9a98bf4","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":360,"wires":[]},{"id":"2931e487be62e528","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":2,"width":0,"height":0,"passthru":true,"label":"Waterpumpon","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Waterpump_on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":520,"wires":[["38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"38d2cf7bc1831bb2","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"0546459205177b8a","type":"ibmiot out","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","outputType":"cmd","deviceId":"Water_pump","deviceType":"Actuator","eventCommandType":"command","format":"json","data":"1","qos":"0","name":"IBM IoT","service":"registered","x":540,"y":520,"wires":[]},{"id":"8ab4682a79a1ab26","type":"ui_button","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":3,"width":0,"height":0,"passthru":false,"label":"WaterpumpOFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"Waterpump_OFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":600,"wires":[["38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"2d18d85595e2cb24","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["48fd622291f0b227"]]},{"id":"5d8425fd5daf2548","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":530,"y":440,"wires":[]},{"id":"48fd622291f0b227","type":"function","z":"22b83496affc4c91","name":"sensor","func":"msg.payload={\"Temperature\":global.get('T'),\"Humidity\":global.get('H')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":440,"wires":[["5d8425fd5daf2548"]]},{"id":"60be063645987246","type":"http in","z":"22b83496affc4c91","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":210,"y":740,"wires":[["0a647ff8cddfe846","38d2cf7bc1831bb2","0546459205177b8a"]]},{"id":"0a647ff8cddfe846","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":610,"y":740,"wires":[]},{"id":"b953520722a0f97e","type":"debug","z":"22b83496affc4c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":820,"wires":[]},{"id":"32fdc86b80d13e60","type":"function","z":"22b83496affc4c91","name":"soil_moisture","func":"msg.payload = msg.payload.Soil_moisture\nglobal.set('S', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":920,"wires":[["6766d33b0bdf2a69"]]},{"id":"55b0c4e36a3484e6","type":"ibmiot in","z":"22b83496affc4c91","authentication":"apiKey","apiKey":"c9903af5e9f04bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Soil_moisture","applicationId":"","deviceType":"Sensor1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":820,"wires":[["b953520722a0f97e","32fdc86b80d13e60"]]},{"id":"b0afb8f5a0aaaf15","type":"http in","z":"22b83496affc4c91","name":"","url":"/sensor1","method":"get","upload":false,"swaggerDoc":"","x":290,"y":1020,"wires":[["8d034b27e6376df7"]]},{"id":"9baf48750c362b31","type":"http response","z":"22b83496affc4c91","name":"","statusCode":"","headers":{},"x":690,"y":1020,"wires":[]},{"id":"8d034b27e6376df7","type":"function","z":"22b83496affc4c91","name":"sensor1","func":"msg.payload = { \"Soil_moisture\": global.get('S')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1020,"wires":[["9baf48750c362b31"]]},{"id":"6766d33b0bdf2a69","type":"ui_gauge","z":"22b83496affc4c91","name":"","group":"ab440f477de87587","order":4,"width":0,"height":0,"gtype":"gage","title":"Soil_moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":640,"y":920,"wires":[]},{"id":"c9903af5e9f04bf8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ab440f477de87587","type":"ui_group","name":"Weather monitoring","tab":"4eb261b38f5967bc","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"4eb261b38f5967bc","type":"ui_tab","name":"control","icon":"dashboard","disabled":false,"hidden":false}]